*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /*for using REM units*/
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.6px;
  background-color: rgb(20, 30, 40);
  color: hsl(199, 98%, 48%);
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  padding: 8px 14px;
}
input {
  font-family: inherit;
}
ul,
ol,
dd {
  list-style: none;
}
cite {
  font-style: normal;
}
